///Breakpoints
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
}

///Looping through the map flex-colors and applying a different background-color and text-color based on the background-color's brightness
@mixin loop-colors {

  @for $i from 1 through length($flex-colors){
    $color: nth($flex-colors, $i);

    $r: red($color);
    $g: green($color);
    $b: blue($color);

    //Converting RGB to YIQ
    $brightness: (($r / 255) * 0.3 + ($g / 255) * 0.59 + ($b / 255) * 0.11) * 100;
    @warn $brightness;

    &:nth-child(#{$i}){
       background-color: $color;
       @if $brightness < 50{
          color: color(text);
       }
    }

  }
}

///Looping through every fifth element
@mixin every-fifth{
   &:nth-child(5n+5){
      @include respond-to(pads){
         flex: 1 1 98%;
      }
      @include respond-to(desktop){
         flex: 1 1 62%;
      }
   }
}

///Every time sass compiles to css every element will get a random flex-basis between 25 to 60
@mixin random-flex-basis{
   @for $i from 1 through 6{
      &:nth-child(#{$i}){
         flex: 1 1 (random(8) + 4) * 5%;
      }
   }
}
