@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
}

@mixin first-five-flex{
  @for $i from 1 through 5{
    &:nth-child(#{$i}){
      h2{
        color: #000;
      }
      .info{
        color: #000;
      }
    }
  }
}

@mixin everyFifth{
   @for $i from 1 through 10 {
      @if $i % 5 == 0{
         &:nth-child(#{$i}){
            flex: 0 1 98%;
         }
      }@else{
         flex: 0 1 48%;
      }
   }
}
@mixin hamburger-animation($deg1, $deg2){
  @for $i from 1 through 3{

    @if $i == 1{
      &:nth-child(#{$i}){
        top: 0px;
        transform: rotateZ($deg1);
      }
    } @else if $i == 2{
      &:nth-child(#{$i}){
        top: 0;
        transform: rotateZ($deg2);
      }
    } @else if $i == 3{
      &:nth-child(#{$i}){
        top: 0;
        background: rgba(0,0,0,0)
      }
    }
  }
}

@mixin hamburger-pos{
  @for $i from 0 through 2{
     &:nth-child(#{$i + 1}){
        top: 6px * $i;
     }
  }
}
