@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
}

@mixin hamburger-row-pos {
   @for $i from 0 through 2{
      &:nth-child(#{$i + 1}){
         top: 3px * $i;
      }
   }
}

@mixin loop-colors {
   @for $i from 1 through length($flex-colors){
      &:nth-child(#{$i}){
         background: nth($flex-colors, $i);
      }
   }
}

@mixin every-fifth{
   @for $i from 1 through 10{
      @if $i % 5 == 0 {
         @include respond-to(pads){
            &:nth-child(#{$i}){
               flex: 1 1 98%;
            }
         }
         @include respond-to(desktop){
            &:nth-child(#{$i}){
               flex: 1 1 62%;
            }
         }
      }
   }
}

@mixin random-flex-basis{
   @for $i from 1 through 6{
      &:nth-child(#{$i}){
         flex: 1 1 (random(6) + 1) * 10%;
      }
   }
}
