///General color map
$colors: (
   text: #fff,
   background: #222,
   primary: (
      base: #009688,
      light: lighten(#009688, 20%),
      dark: darken(#009688, 20%),
   ),
   secondary: (
      base: #FF3D00,
      light: lighten(#FF3D00, 20%),
      dark: darken(#FF3D00, 20%),
   )
);

///Breakpoints for the site
$breakpoints: (
  pads: 768px,
  desktop: 1024px,
);

///Flex-item color map
$flex-colors: (
   hsl(random(361) - 1, random(86) + 14, random(76) + 14),
   hsl(random(361) - 1, random(86) + 14, random(76) + 14),
   hsl(random(361) - 1, random(86) + 14, random(76) + 14),
   hsl(random(361) - 1, random(86) + 14, random(76) + 14),
   hsl(random(361) - 1, random(86) + 14, random(76) + 14),
   hsl(random(361) - 1, random(86) + 14, random(76) + 14),
   hsl(random(361) - 1, random(86) + 14, random(76) + 14),
   hsl(random(361) - 1, random(86) + 14, random(76) + 14),
   hsl(random(361) - 1, random(86) + 14, random(76) + 14),
   hsl(random(361) - 1, random(86) + 14, random(76) + 14),
);
