nav{
   display: block;
   background: #222;

   h2{
      display: none;
   }

   input{
      display: none;
   }

   input#show-menu:checked{
      ~ .hamburger{

      }
      ~ .header-menu{
         transform: scaleY(1);
      }
   }

   .hamburger{
      padding: 10px;

      @include respond-to(desktop){
         display: none;
      }
      .row{
         background: #fff;
         height: 0.1em;
         width: 20px;
         margin-top: 4px;
         &:first-child{
            margin: 0;
         }
      }
   }

   .header-menu{
      transform: scaleY(0);
      transform-origin: top;
      position: absolute;
      left: 0;
      right: 0;
      @extend %transitions;

      @include respond-to(desktop){
         transform: scaleY(1);
      }
      .menu{
         margin: 0;
         padding: 0;

         @include respond-to(pads){
           display: flex;
         }

         li{
            display: flex;
            flex: 1 1 100%;
            justify-content: center;
            position: relative;
            transition: background .2s ease;

            input:checked{
               ~ a{
                  background: #555;
                  color: color(primary, base);
                  &:after{
                     width: 100%;
                  }
               }
               ~ a span{
                  transform: rotateX(0deg);
                  color: color(primary, base);
               }
               ~ ul{
                  transform: scaleY(1);
               }
            }

            a{
               flex: 1 1 100%;
               text-align: center;
               padding: 10px 0;
               color: #fff;
               text-decoration: none;
               font-weight: 700;
               background: color(background);
               @extend %transitions;

               &:hover{
                  background: lighten(color(background), 20%);
                  color: color(primary, light);

                  &::after{
                    width: 100%;
                  }
               }

               &:after{
                 display: block;
                 position: absolute;
                 bottom: 0;
                 left: 0;
                 width: 0;
                 height: 0.1em;
                 background: color(primary, dark);
                 content: "";
                 transition: width 0.4s;
               }
               label{

                  span{
                     transition: all .3s ease;
                     font-size: 12px;
                     position: absolute;
                     top: 0;
                     right: 0;
                     transform-origin: center;
                     transform: rotateX(180deg);
                     cursor: pointer;
                     padding: 12px 15px;
                     color: color(text);
                     &:hover{
                        color: #000;
                     }
                  }
               }
            }
            .sub-menu{
               position: absolute;
               top: 41.6px;
               left: 0;
               right: 0;
               padding: 0;
               background: #222;
               transform: scaleY(0);
               transition: all .3s ease;
               transform-origin: top;
               z-index: 100;

               li{
                  a{
                     font-size: 14px;
                     padding: 8px;

                     @include respond-to(pads){
                        font-size: 1em;
                        padding: 10px;
                     }
                     span{
                        padding: 10px 15px;

                        @include respond-to(pads){
                           padding: 12px 15px;
                        }
                     }
                  }
               }

               .sub-menu{
                  top: 35.2px;

                  @include respond-to(pads){
                     top: 41.6px;
                  }
                  li{

                     a{
                        font-size: 12px;
                        padding: 6px;

                        @include respond-to(pads){
                           font-size: 1em;
                           padding: 10px;
                        }

                        span{

                        }
                     }
                  }
               }
            }
            /*&:hover > .sub-menu{
               transform: scaleY(1);
            }*/
         }
      }
   }
}
