#main-container{
   flex: 1;
   margin-top: 100px;
   #main{

      .flex-box.prices{
         display: flex;
         justify-content: center;
         flex-direction: column;
         @include respond-to(breakpoint){
            flex-direction: row;
         }
         .flex-item{

            width: 200px;
            height: 206px;
            border: 1px solid red;
            border-radius: 50%;
            text-align: center;
            margin: 10px auto;

            @include respond-to(breakpoint){
               margin: 10px;
            }
            &:nth-child(1){
               background: url('../images/1price.png') no-repeat center center;
            }
            &:nth-child(2){
               background: url('../images/2price.png') no-repeat center center;
            }
            &:nth-child(3){
               background: url('../images/3price.png') no-repeat center center;
            }
         }
      }
      .flex-box.content{
         display: flex;
         flex-flow: row wrap;
         @include flex-card-3-and-4;

         .flex-item{
            @include flex-card;
            h2{
              &:before{
                 content: "- Kill this poacher - REWARD $ ";
              }
            }
         }
      }
      .flex-item{
         @include loop-flex-colors;
      }
   }
}
