#footer-container{
   box-shadow: 0 -5px 5px #000;
   background: color(brown) url('../images/binding-dark.png');

   footer{

      .cols{
         display: flex;
         padding: 20px;

         .col{
            display: flex;
            flex: 1;
            justify-content: center;

            ul{
               margin: 0;
               padding: 0;

               li{
                  list-style: none;

                  a{
                     color: color(white);
                     text-decoration: none;
                  }
               }
            }
         }
      }
   }
}
