#header-container{
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   background: color(brown) url('../images/binding-dark.png');
   box-shadow: 0 5px 5px #000;

   header{
      display: flex;
      justify-content: center;

      > div{
         padding: 0 5px;
      }
      .social{
         display: flex;
         align-items: flex-end;

         div{
            margin: 2px;

            i{
               color: rgba(0,0,0,0.6);
               text-shadow: 1px 4px 6px color(brown), 0 0 0 #000, 1px 4px 6px color(brown);
               font-size: 24px;
            }
         }
      }
      .title{
         display: flex;
         align-items: flex-end;
         
         h1, h2{
            font-size: 20px;
            margin: 0;
            padding: 0 2px;
            align-items: baseline;
            color: rgba(0,0,0,0.6);
            text-shadow: 1px 4px 6px color(brown), 0 0 0 #000, 1px 4px 6px color(brown);
         }
      }
      .logo{
         h2{
            margin: 0;
         }
         img{
            width: 64px;
         }
      }
   }

   //NAVIGATION
   @import "../modules/navigation";
}
