.landing{
   height: 100%;
   display: flex;
   background: url('../images/o-SCOTLAND-facebook1.jpg') no-repeat;
   background-attachment: fixed;
   background-size: cover;
   
   .content{
      margin: 0 auto;
      align-self: center;
      text-align: center;
      padding: 20px 40px;
      box-sizing: border-box;
      background: rgba(0, 0, 0, 0.5);
   }
}

.flex-box{
  @extend %flex-column;
  opacity: 0.8;

  @include respond-to(flex){
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 80%;
    margin: 0 auto;
  }
  .flex-item{
    display: flex;
    background: color(green);
    color: color(text);
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0;
    border: 1px solid color(border);

    @include respond-to(flex){
      @include everyFifth;
    }

    .info{
      display: flex;
      margin: 10px 0;

      .category{
         flex: 1;
      }
    }

    section{
      @extend %flex-column;
      flex: 1;
      img{
        max-width: 100%;
        width: 100%;
      }
      .btn{
        @extend %flex-column;
        flex: 1;
        justify-content: flex-end;

        button{
          background: color(button);
          border: 0;
          color: color(green);
          padding: 10px;
          text-align: center;
        }
      }
    }
    @include first-five-flex;
  }
}
