/// Simplifies the coloring
/// @param {width value} $key - which key
/// @param {width value} $variant - which variant
@function color($key, $variant:null) {
   @if ($variant != null) {
      @return map-get(map-get($colors, $key), $variant);
   } @else {
      @return map-get($colors, $key);
   }
}
