///General color map
$colors: (
   brown: #916c55,
   orange: darkorange,
   white: white,
);

///Breakpoints for the site
$breakpoints: (
   breakpoint: 32.188em,
);

///Colors for the flex-items
$flex-colors: (
   blue,
   green,
   lime,
   gold,
   pink,
   purple,
   cyan,
   red,
   orange,
);
