@import "base/normalize";
@import "base/typography";

html, body{
   font-family: 'Open Sans Condensed', sans-serif;
   height: 100%;
}

body{
   box-sizing: border-box;
   @include background-url('../images/South-Africa-Safari.jpg');
}

nav input[type="checkbox"]{
   display: none;
}

#site-wrapper{
   display: flex;
   flex-direction: column;
   height: 100%;
}

#landing{
   display: flex;
   flex: 0 0 50%;
   height: 100%;
   @include background-url('../images/South-Africa-Safari.jpg');

   div{
      background: brown;
      align-self: center;
      text-align: center;
      margin: 0 auto;
   }
}
